.App {
  text-align: center;
  margin: 40px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid-container {
  text-align: center;
  margin: auto;
}

.flex-container {
  display: flex;
  height: 100vh; /* Set the height of the container, adjust as needed */
}

.flex-item {
  flex: 1; /* Distribute available space equally between the items */
  padding: 20px;
}

.feed {
  margin-left: 28vw;
}

.scrollable-item {
  flex: 1; /* Allow the item to grow and occupy remaining space */
  padding: 20px;
  height: 100%;
  overflow-y: auto; /* Enable vertical scrolling */
}